<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./CSS/styles.css">
        <link rel="icon" href="images/virus-favicon.png">
        <link href="https://fonts.googleapis.com/css2?family=Recursive&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        <%- include('./header') %>
        <main>
            <h1>About Us</h1>
            <div class="container">
                <img src="images/enrique.jpg" alt="Enrique Hilst" class="image">
                <div class="overlay">
                    <div class="text">
                        <b>Enrique Hilst</b><br><br>  I was an Industrial Engineer for two years. I recently went on FMLA to care for my fiancée after she had heart surgery during the pandemic. I signed up for DeltaV’s 101 and 102 classes while on FMLA because of past interest in learning how to code and deciding to pursue a career change while enjoying these classes. I enjoyed the technical parts of my engineering work and I like making things that help or entertain other people. I would love to do front end, back end or full stack development to make new websites at a marketing firm or to create new functionalities for customer facing applications. The work I did as an Industrial Engineer gave me experience with defining root problems, working with internal and external customers to come up with efficient solutions, and project management.
                    </div>
                </div>
            </div>      
            <div class="container">
                <img src="images/nathan.jpg" alt="Nathan Kinkade" class="image">
                <div class="overlay">
                    <div class="text">
                        <b>Nathan Kinkade</b><br><br> Prior to joining my fellow students at DeltaV I had a wide variety of careers, working from one temporary position to another. A Jack of all trades if you will. My most recent work was as a salesman at a furniture store. But my favorite positions were those where I got to work behind a computer monitor.
                        I was tired of going from one job to the next and wanted something permanent. Something I could grow in. Something that I enjoyed doing. That's where Software Development came in. It is like a puzzle. At first you have no idea what the final product is going to look like. You have a vague idea, but you won't really know until you put it together. So every line of code is just another puzzle piece. And then, once it's all put together, you can step back, take a look at what you have put together, and have that sense of pride that only comes from working on something for hours, days, weeks, months, sometimes even years and finally seeing what it would grow into.
                        I am adept at styling pages for that very reason as well. CSS is the language used to style a page and I enjoy playing around with the code, seeing what this will do, or what that will do to these 3 elements, etc. Ideally I would like to work in an office, in a tech company, preferably in the video game industry. I look forward to the future and where being a developer will take me.
                    </div>
                </div>
            </div>       
            <div class="container">
                <img src="images/christian.png" alt="Christian Lievrouw" class="image">
                <div class="overlay">
                    <div class="text">
                        <b>Christian Lievrouw</b><br><br>  Before starting DeltaV I worked as a delivery driver for Kabrick Dist. I have always found an interest in coding and technology in general. I had taken a few classes in college for HTML and CSS, but never really thought I could pick up coding. I had decided that I wanted to do more with my life so I started looking into coding bootcamps to give coding another try and found DeltaV. Now almost done with 201, I am picking things but better than I thought I would. My plans for after DeltaV are to find my spot in the world of tech and continue to grow as a software developer.
                    </div>
                </div>
            </div>     
        </main>
        <%- include('./footer') %>
        <script src="" async defer></script>
    </body>
</html>