<footer>
    <p id="one">COVID Watcher&#169; <script>document.write( new Date().getFullYear() );</script></p>
    <p class="credit">coronavirus PNG Designed By 暴走的茶茶菌; object PNG Designed By themefire from: <a id="creditLink" href="https://pngtree.com/">Pngtree.com</a></p>
    <p class="credit"></p>
</footer>