<header>
    <h1>COVID-Watcher</h1>
    <ul>
        <li><a class="active" href='/'>Home</a></li>
        <li><a href='/state'>Save a State</a></li>
        <!-- <li><a href='/articles'>Articles</a></li> -->
        <li><a href='/about'>About</a></li>
    </ul>
</header>