<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>COVID Watcher</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./CSS/styles.css">
    </head>
    <body>
        <header>
            <h1>COVID Watcher</h1>
            <ul>
                <li><a href='./index.ejs'>Home</a></li>
                <li><a href='./state.ejs'>State Stats</a></li>
                <li><a href='./articles.ejs'>Articles</a></li>
                <li><a href='./about.ejs'>About</a></li>
            </ul>
        </header>
        <main>
            <span>
                <h2>Welcome to COVID Watcher</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </span>
            <aside>
                <h2>Stretch Goal: News Articles</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </aside>
            <canvas id="myChart"></canvas>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        
        <script src="" async defer></script>
    </body>
</html>