<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>State Search</title>
    <style type="text/css"> 
    #delete-button {
      display: none;
    }

    #state-container {
    display: grid;
    grid-template-columns: 100% !important;
    }

    .state-card{
      width: 370px !important;
      margin: auto !important;
    }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./CSS/styles.css">
    <link rel="icon" href="images/virus-favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Recursive&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap" rel="stylesheet">
</head>

<body>
  <%- include('./header') %>
  <main class="statePage">
    <form>
      <fieldset>
        <h4>Search by abbreviated or full state name</h4>
        <form action="/state" id="stateCode">
          <input type="text" name="state" placeholder="E.g: 'IA' or 'Iowa'" required>
          <input type="submit" value="Submit" /><br>
      </fieldset>
    </form>
    <h3>Save a state to the Home page to watch its COVID-19 stats</h3>
    <div id="card">
      <%- include('./state-card') %>
    </div>
  </main>
  <div id="state">
    <%- include('./footer') %>
  </div>
</body>
</html>