* {
    box-sizing: border-box;
}

body {
    background-color: #D0CCD0;
}

a {
    color: rgb(0, 38, 255);
    font-family: 'Roboto';
    text-decoration: none;
    color: white;
    text-shadow: 6px 3px 6px black;
}



h1 {
    text-align: center;
    font-size: 36px;
    font-family: 'Recursive';
    margin-bottom: 40px;
    padding-top: 10px;
    text-shadow: 6px 3px 6px white;
    font-weight: bolder;
}

#aboutUs {
    margin-bottom: 10px;
}

ul {
    margin-top: 10px;
    text-align: center;
}

li {
    display: inline;
    padding: 5px;
    background-color: rgba(108, 125, 142, 0.767);
    border-radius: 10% 10% 10% 10%;
}

header {
    color: rgb(223, 107, 89);
    padding: 30px;
    background-image: url(../images/test1.jpg);
    background-size: 100%;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 8px 6px -6px #012E57;
}

::placeholder{
    color: #011c3c56;
}

.topic {
    text-align: center;
    font-size: 22px;
    margin: 5px;
}

div > h2 {
    font-weight: bolder;
    padding: 3px;
}

p {
    padding: 2px;
}

div > b {
    text-align: center;
    font-weight: bolder;
    display: block;
    margin-top: 15px;
    margin-bottom: -20px;
    font-size: 20px;
}

footer {
    margin-top: 10px;
}

#one {
    text-align: center;
}

.credit {
    font-size: 10px;
    color: rgb(202, 198, 198);
}

.text {
    text-align: center;
}

#creditLink {
    color: rgb(202, 198, 198);
}

fieldset, h3 {
    text-align: center;
    padding-top: 10px;
}

h3 {
    margin-bottom: 5px;
    font-family: 'Roboto';
}

h4 {
    margin-bottom: 5px;
    font-family: 'Recursive';
}

.statePage {
    margin-top: 10px;
}

.state-card {
    font-family: 'Roboto';
}

.tHead {
    font-weight: bolder;
    /* border: solid 1px black; */
}

#stateName {
    font-size: 25px;
}

/* button {
    width: 200px;
} */

button {
    background:linear-gradient(to bottom, rgb(249, 193, 67) 5%, rgb(245, 137, 60) 100%);
	background-color:#3158f5;
	border-radius:28px;
	border:1px solid #db9f28;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:6px 20px;
	text-decoration:none;
    text-shadow:6px 3px 6px #d6922b;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 5px;
}