* {
    box-sizing: border-box;
}

body {
    background-color: rgba(128, 128, 128, 0.349);
}

main {
    min-height: 450px;
}

a:visited {
    color: rgb(205, 175, 92);
}

a {
    color: rgb(25, 157, 167);
}

h1 {
    text-align: center;
    font-size: 38px;
    font-family: 'Crimson Text', serif;
    margin-bottom: 5px;
    padding-top: 10px;
}

ul {
    margin-top: 10px;
    text-align: center;
}

li {
    display: inline;
    padding: 10px;
}

header {
    color: #F4A261;
    padding: 30px;
    background-image: url(../images/virus_head.png);
    background-size: 100% 100%;
}

.welcome {
    padding: 5px;
    margin: 10px;
    border-radius: 3% 3% 3% 3%;
    box-shadow: 3px 3px 5px rgb(102, 56, 26);
    background-color: whitesmoke;
    font-family: 'Recursive', sans-serif;
}

.topic {
    text-align: center;
    font-size: 22px;
    margin: 5px;
}

#state-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.state-card:nth-of-type(odd) {
    grid-column: 1;
}

.state-card:nth-of-type(even) {
    grid-column: 2;
}

.state-card {
    border-radius: 3% 3% 3% 3%;
    margin: 3px;
    background-color: #f4a36188;;
    box-shadow: 3px 3px 5px rgb(102, 56, 26);
}

div > h2 {
    font-weight: bolder;
    padding: 3px;
}

p {
    padding: 2px;
}

.container {
    padding: 5px;
    margin: 10px;
    border-radius: 3% 3% 3% 3%;
    box-shadow: 3px 3px 5px rgb(102, 56, 26);
    background-color: whitesmoke;
    font-family: 'Recursive', sans-serif;
}

.image {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div > b {
    text-align: center;
    font-weight: bolder;
    display: block;
    margin-top: 15px;
    margin-bottom: -20px;
    font-size: 20px;
}

footer {
    margin-top: 10px;
}

#one {
    text-align: center;
}

.credit {
    font-size: 10px;
    color: rgb(202, 198, 198);
}

.text {
    text-align: center;
}

#creditLink {
    color: rgb(202, 198, 198);
}

fieldset, h3 {
    text-align: center;
    padding-top: 10px;
}

h3 {
    margin-bottom: 5px;
}

h4 {
    margin-bottom: 5px;
}

.statePage {
    margin-top: 10px;
}