main {
    min-height: 410px;
    margin-top: 175px;
}

.welcome {
    padding: 5px;
    margin: 10px;
    border-radius: 3% 3% 3% 3%;
    box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.205), -12px 0 8px -4px rgba(0, 0, 0, 0.123);
    background-color: whitesmoke;
    font-family: 'Recursive', sans-serif;
}

#state-container {
    margin: 5px;
}

.state-card {
    border-radius: 3% 3% 3% 3%;
    margin: 3px;
    background-color: rgb(220, 199, 176) ;
    box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.205), -12px 0 8px -4px rgba(0, 0, 0, 0.123);
    margin-top: 15px;
    max-width: 100% !important;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td{
    padding: 5px;
}

.container {
    padding: 5px;
    margin: 10px;
    border-radius: 3% 3% 3% 3%;
    box-shadow: 3px 3px 5px rgb(102, 56, 26);
    background-color: rgb(220, 199, 176);
    font-family: 'Recursive', sans-serif;
    box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.205), -12px 0 8px -4px rgba(0, 0, 0, 0.123)
}

.image {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid black;
    border-radius: 3% 3% 3% 3%;
}

@media (min-width: 800px){
    body {
        max-width: 750px;
        margin: auto
    }
    main {
        min-height: 670px;
    }
}