main {
    min-height: 450px;
}

.welcome {
    padding: 5px;
    margin: 10px;
    border-radius: 3% 3% 3% 3%;
    box-shadow: 3px 3px 5px rgb(102, 56, 26);
    background-color: whitesmoke;
    font-family: 'Recursive', sans-serif;
}

#state-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.state-card:nth-of-type(odd) {
    grid-column: 1;
}

.state-card:nth-of-type(even) {
    grid-column: 2;
}

.state-card {
    border-radius: 3% 3% 3% 3%;
    margin: 3px;
    background-color: #f4a36188;;
    box-shadow: 3px 3px 5px rgb(102, 56, 26);
}

.container {
    padding: 5px;
    margin: 10px;
    border-radius: 3% 3% 3% 3%;
    box-shadow: 3px 3px 5px rgb(102, 56, 26);
    background-color: whitesmoke;
    font-family: 'Recursive', sans-serif;
}

.image {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
